/* CLIENT LOGOS SECTION */

.content-logos__section {
    align-items: center;
    background-color: var(--color-bg-light);
    padding: 4rem calc(var(--spacing-unit) * 4);
    text-align: center;
}

.client-logos-section__title {
    font-size: 3rem;
    color: var(--color-primary);
}

.client-logos-section__list {
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

.client-logos-section__item {
    align-items: center;
    justify-content: baseline;
    width: 120px;
}

.client-logos-section__logo {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: filter 0.3s, opacity 0.3s;
}

.info-content-section {
    display: grid;
    padding: 4rem calc(var(--spacing-unit) * 4);
}

.info-card {
    color: var(--color-bg-light);
    border-radius: 20px;
    transition: transform 0.3s;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    padding: 2rem;
    margin: 1rem;
    display: flex;
    width: 20rem;
    flex-direction: column;
}