:root {
    --color-primary: #1e1e1e; /* Color principal (Texto y Logos) */
    --color-secondary: #069797; /* Cian/Verde Oscuro (Acento en Hero/Servicios) */
    --color-accent-orange: hsl(22, 100%, 59%); /* Naranja (Acento en Propuesta de Valor) */
    --color-bg-light: #ffffff;
    --color-text-muted: #555555;
    --spacing-unit: 1rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
    line-height: 1.6;
}

a {
    color: var(--color-text-light);
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

h1, h2, h3 {
    line-height: 1.2;
    font-weight: 700;
}

.header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 16px;
    padding-inline: calc(var(--spacing-unit) *4);
    background-color: var(--color-bg-light);
    gap: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__buttons a:hover {
    color: var(--color-secondary);
    transform: scale(1.05);
    transition: 0.3s;
}

.header__buttons a:active {
    color: var(--color-accent-orange);
    transform: scale(0.98);
    transition: 0.1s;
}

/* HERO BANNER */

.hero-section {
    background-image: url("../assets/images/hero-banner.webp");
    background-size: cover;
    background-position: center;
    padding: calc(var(--spacing-unit) * 6);
    position: relative;
}

.hero-section__title {
    font-size: 3.5rem;
    color: var(--color-bg-light);
    max-width: 600px;
}

.hero-section__subtitle {
    font-size: 1.25rem;
    color: var(--color-bg-light);
    margin: 1.5rem 0 3rem 0;
    max-width: 500px;
}

.hero-section__btn {
    padding: 1.5rem 4rem;
    color: var(--color-secondary);
    background-color: var(--color-bg-light);
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    transition: transform 0.2s;
}

.hero-section__image-wrapper {
    display: block;
    position: absolute;
    top: 20%;
    right: 20%; 
    width: 35%;
    max-width: 400px;
}

.hero-section__image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

/* SECTION SERVICES CARDS */

.service-card {
    color: var(--color-bg-light);
    border-radius: 20px;
    transition: transform 0.3s;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    padding: 2rem;
    margin: 1rem;
    display: flex;
    width: 20rem;
    flex-direction: column;
}

.service-card__icon {
    background-color: var(--color-bg-light);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 1rem;
    color:currentColor;
}

.service-card__icon svg {
    width: 60%;
    height: 60%;
    display: block;
}
    
.service-card__title {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.service-card__description {
    font-size: 1rem;
    color: var(--color-bg-light);
    min-width: 200px;
}

.service-card:hover {
    transform: translateY(-5px);
}
    
.feature-grid-section__grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: calc(var(--spacing-unit) * 4);
    justify-items: center;
}

.content-section {
    padding: calc(var(--spacing-unit) * 4);
    background-color: #fff1ea;
}

@media(max-width: 768px) {
    .content-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
}

/* VALUE PROPOSITION SECTION */

.value-proposition-section {
    background-color: var(--color-accent-orange);
    color: var(--color-bg-light);
    padding: 0 8px;
    display: flex;
}

.value-proposition-section__container-1 {
    padding: 4rem calc(var(--spacing-unit) * 8);
    width: 70%;
}

.value-proposition-section__container-2 {
    padding: calc(var(--spacing-unit) * 4);
    align-content: center;
}

.value-proposition-section__title {
    font-size: 3rem;
}

.value-proposition-section__description {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.value-proposition-section__btn {
    padding: 1.5rem 4rem;
    color: var(--color-bg-light);
    background-color: var(--color-secondary);
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    transition: transform 0.2s;
}

/* TEAM SECTION */

.team-section {
    background-color: var(--color-bg-light);
    display: flex;
}

.team-section__text-block {
    padding: 4rem calc(var(--spacing-unit) * 4);
    min-width: 50%;
}

.team-section__title {
    font-size: 3rem;
}

.team-section__body {
    margin: 1.5rem 0 3rem 0;
    color: var(--color-text-muted);
    font-size: 1.2rem;
}

.team-section__btn {
    padding: 1.5rem 4rem;
    color: var(--color-bg-light);
    background-color: var(--color-secondary);
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    transition: transform 0.2s;
    margin-top: 2rem;
}

.team-section__grid {
    padding: calc(var(--spacing-unit) * 4);
    grid-template-columns: 1fr 1fr;
    display: grid;
    justify-content: center;
    min-width: 50%;
}

.profile-card {
    padding: 2rem;
    margin: 0.5rem;
    background-color: #fff1ea;
    border-radius: 30px;
    display: flexbox;

    .profile-card__name, .profile-card__role {
        text-align: center;
        min-width: 200px;
        margin: 1.5rem 0 0.5rem 0;
    }
}

.profile-card__image-wrapper {
    display:contents;
    position: absolute;
    max-width: 300px;
}

.profile-card__image {
    width: 100%;
    height: auto;
    display: flexbox;
    border-radius: 50%;
}

/* CLIENT LOGOS SECTION */

.content-logos__section {
    align-items: center;
    background-color: var(--color-bg-light);
    padding: 4rem calc(var(--spacing-unit) * 4);
    text-align: center;
}

.client-logos-section__title {
    font-size: 3rem;
    color: var(--color-primary);
}

.client-logos-section__list {
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

.client-logos-section__item {
    align-items: center;
    justify-content: baseline;
    width: 120px;
}

.client-logos-section__logo {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: filter 0.3s, opacity 0.3s;
}

/* FOOTER */

footer {
    background-color: var(--color-primary);
    color: var(--color-bg-light);
    text-align: center;
    padding: calc(var(--spacing-unit) * 4) 0;
}