---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FeatureGridSection from '../components/FeatureGridSection.astro';
import ValuePropositionSection from '../components/ValuePropositionSection.astro';
import TeamSection from '../components/TeamSection.astro';
import ClientLogosSection from '../components/ClientLogosSection.astro';
import InfoGridSection from '../components/InfoGridSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
<Header />
<main>
    <Hero />
    <FeatureGridSection />
    <ValuePropositionSection />
    <TeamSection />
    <ClientLogosSection />
</main>
<Footer />
</Layout>

<style>
    main {
        width: 100%;
        min-height: 100vh;
        display: felx;
        flex-direction: column;
    }
</style>