<header>

    <div class="header__buttons">
        <a href="#" class="header__nav-link">Home</a>
        <a href="#" class="header__nav-link">About</a>
        <a href="#" class="header__nav-link">Gallery</a>
        <a href="#" class="header__nav-link">Contact</a>
    </div>

</header>