---

---

<section class="hero-section">
    <div class="hero-section__background">
        <div class="hero-section__container">
            <div class="hero-section__content">
                <h1 class="hero-section__title">Works for you, even when you aren't working</h1>
                <p class="hero-section__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#" class="hero-section__btn">Learn more</a>
            </div>
        </div>
    </div>
    <div class="hero-section__image-wrapper">
        <img 
            src="src/assets/images/brand-designer.png"
            alt="Persona sonriendo, consultor" 
            class="hero-section__image"
        />
    </div>
</section>