---
export interface Props {
    icon: any;
    title: string;
    description: string;
    backgroundColor: string;
}

const { 
    icon: IconComponent,
    title, 
    description, 
    backgroundColor 
} = Astro.props;
---

<article class="service-card" style={`background-color: ${backgroundColor};`}>
    <a href="#">
        <div>
    <div class="service-card__icon-wrapper">
        <div class="service-card__icon">
            <IconComponent /> 
        </div>
    </div>
    <div class="service-card__content">
        <h3 class="service-card__title">{title}</h3>
        <p class="service-card__description">{description}</p>
    </div>
    </div>
    </a>
</article>